*{
    margin: 0px;
    padding: 0px;
}

.Header{
    display: flex;
}

.image1{
     width: 40px;
    height: 30px;
     margin-top: 10px;
    margin-inline-start:10%; 
}

.Header>.nav{
     display: flex;
    border: 2px solid gray;
    width: 100%;
    height: 60px;
    transition: 2s; 
}

.Header>.nav>.h1{ 
                     margin-top: 3px;
                    font-size: 40px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 5px;               
} 

.Header>.nav>ul{
    display: flex;
    gap: 20px;
    align-items:center;
    width: 100%;
    justify-content:center;
    margin-left: 20px;
}

.Header>.nav>ul>li>a{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 20px;
}

.Header>.nav>ul>li>a:hover{
                            color: blue;
                            font-size: 18px;
}

.Header>.nav>ul>button{
                        width: 150px;
                        height: 40px;
                        background-color: rgb(8, 210, 8);
                        border: none;
                        color: white;
}

.Header>.nav>ul>button>a{
                            color: white;
                            text-decoration: none;
}

.Header>.nav>ul>button>a:hover{
                                color:blueviolet;
                                font-size: 18px;
}

.parient{
    border: 1px solid  #F5F7FA;
    position: absolute;
    width: 95%;
    height: 65%;
    display: flex;
    top:90px ;
    background-color: #F5F7FA;
}

.parient>.child{
                display: inline;
                width: 50%;
                align-self: center;
                position: absolute;
                left: 100px;
                font-size: 25px;
                font-family: Arial, Helvetica, sans-serif;
                color: #4D4D4D;
}

.parient>.image2{
                    display: flex;
                    align-items:center;
                    position:absolute;
                    left: 750px;
                    top: 70px;        
}

.color{
    color: #4CAF4F;
}

.parient>.child>p{
                    font-size: 15px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    color: gray;
}

.parient>.child>button{
                        width: 100px;
                        height: 35px;
                        background-color: #4CAF4F;
                        border: none;
}

.parient>.child>button>a{
                            text-decoration: none;
                            color: white;
}

.parient>.image3{
               display: inline-flex; 
               position: absolute; 
               top: 90%; 
               left: 50%;         
}

.body2{
    display: flex;
    position: absolute;
    top: 88%;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.body2>.client{
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                color: #4D4D4D;
}

.body2>.client>h1{
                    margin-bottom: 10px;
}

.body2>.client>p{
                    color: gray;
                    font-size: 15px;
}

.Image{
    position: absolute;
    top: 100%;
    left: 8%;
    margin-top: 20px;
    width: 100%;
}

.Image>.images{
    width: 100%;
}

.body3{
    position: absolute;
    top: 120%;
    width:40%;
    text-align: center;
    left: 370px;
}

.body3>h1{
            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
            color: #4D4D4D;
            margin-bottom: 10px;
}

.body3>p{
            color: gray;
            font-size: 15px;
}

.container{
            display: flex;
            position: absolute;
            top: 145%;
            width: 100%;
}

.container>.image4{
                    border: 1px solid white;
                    box-shadow: 1px 1px 10px rgba(90, 89, 89, 0.119);
                    width: 208.12px;
                    height: 182.1px;
                    padding: 20px;
                    display: block;
                    margin-left: 80px;
                    
}

.container>.image4>.img{
                        margin: 0 auto;
                        display: flex;
}

.container>.image4>h1{
                        text-align: center;
                        color: #4D4D4D;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: 10px;
                        margin-bottom: 10px;
}

.container>.image4>p{
                        text-align: center;
                        font-size: 15px;
                        color: gray;
}

.container>.image5{
                    border: 2px solid white;
                    box-shadow: 1px 1px 10px rgba(90, 89, 89, 0.119);
                    width: 208.12px;
                    height: 182.1px;
                    padding: 20px;
                    display: block;
                    margin-left: 90px;
}

.container>.image5>.img1{
                        margin: 0 auto;
                        display: flex;
}

.container>.image5>h1{
                        text-align: center;
                        color: #4D4D4D;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: 10px;
                        margin-bottom: 10px;
}

.container>.image5>p{
                        text-align: center;
                        font-size: 15px;
                        color: gray;
}

.container>.image6{
                     border: 1px solid white;
                     box-shadow: 1px 1px 10px rgba(90, 89, 89, 0.119);
                    width: 208.12px;
                    height: 182.1px;
                    padding: 20px;
                    display: block;
                    margin-left: 100px;
}

.container>.image6>.img2{
                        margin: 0 auto;
                        display: flex;
}

.container>.image6>h1{
                        text-align: center;
                        color: #4D4D4D;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: 10px;
                        margin-bottom: 10px;
}

.container>.image6>p{
                        text-align: center;
                        font-size: 15px;
                        color: gray;
}

.Images{
        position: absolute;
        top: 190%;
        left: 8%;
        display: flex;
}

.Images>.text{
                width: 500px;
                height: 250px;
                padding: 20px;
                margin-top: 60px;
                margin-left: 25px;

}

.Images>.text>h1{
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 20px;
                    color: #4D4D4D;
                    margin-top: 10px;
}

.Images>.text>p{
                color: gray;
                font-size: 15px;
                margin-bottom: 20px;
}

.Images>.text>button{
                        width: 150px;
                        height: 50px;
                        background-color: #4CAF4F;
                        border: none;
                        border-radius: 5px;
}

.Images>.text>button>a{
                        text-decoration: none;
                        color: white;
}

.help{
        position: absolute;
        top: 270%;
        width: 100%;
        display: flex;
        padding: 20px;
        height: 202.94px;
        background-color: #F5F7FA;
}

.text1{
       width: 370px;
       padding: 50px;
       margin-left: 20px;
       font-family: Arial, Helvetica, sans-serif;
}

.help>.text1>h1{
                margin-bottom: 10px;
                color: #4D4D4D;
}

.help>.text1>h1>span{
                        color: #4CAF4F;
}

.help>.text1>p{
                font-size: 15px;
}

.help>.image7{
                display:inline-block;
                height: 60px;
                width: 375px;
                padding-top: 30px;
                margin: 0 auto;
                left: 20px;
                
}

.help>.image7>.img4{
                        display: flex;
                        position: absolute;
                        top: 60px;
                        
}

.help>.image7>.heads>h1{
                    display: inline-flex;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 50px;
                    margin-bottom:5px;
                    color: #4D4D4D;
                    font-size: 25px;     
}

.help>.image7>.heads>p{
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 50px;
                        color: gray;
}

.help>.image7>.heads>.image8{
                display:inline-block;
                height: 60px;
                width: 100%;
                padding-top: 37px;
                margin: 0 auto;
                left: 20px;
}

.help>.image7>.heads>.image8>.img5{
                        display: flex;
                        position: absolute;
                        top: 150px;
                        
}

.help>.image7>.heads>.image8>.head1>h1{
                    display: inline-flex;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 50px;
                    margin-bottom: 5px;
                    color: #4D4D4D; 
                    font-size: 25px;
}

.help>.image7>.heads>.image8>.head1>p{
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 50px;
                        color: gray;
}

.help>.image9{
                display:inline-block;
                height: 60px;
                width: 250px;
                padding-top: 30px;
                margin: 0 auto;
                left: 20px;
                margin-left: -280px;
}

.help>.image9>.img6{
                        display: flex;
                        position: absolute;
                        top: 60px;
}

.help>.image9>.text2>h1{
         display: inline-flex;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 50px;
                    margin-bottom:5px;
                    color: #4D4D4D;  
                    font-size: 25px;   
}

.help>.image9>.text2>p{
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 50px;
                        color: gray;
}

.help>.image9>.image10{
                display:inline-block;
                /* border: 1px solid black; */
                height: 60px;
                width: 100%;
                padding-top: 37px;
                margin: 0 auto;
                left: 20px;
}

.help>.image9>.image10>.img7{
                        display: flex;
                        position: absolute;
                        top: 150px;         
}

.help>.image9>.image10>.text3>h1{
                    display: inline-flex;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-left: 50px;
                    margin-bottom: 5px;
                    color: #4D4D4D; 
                    font-size: 25px;
}

.help>.image9>.image10>.text3>p{
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        margin-left: 50px;
                        color: gray;
}

.main{
    position: absolute;
    top: 320%;
    width: 100%;
    height: 301.68px;
    display: flex;
}

.main>.image11{
                display: flex;
                margin: 0 auto;
}

.main>.image11>.text4{
    width: 600px;
    height: 250px;
    margin-right: 120px;
    padding: 10px;
}

.main>.image11>.text4>h1{
                font-family: Arial, Helvetica, sans-serif;
                color: #4D4D4D;
                padding: 20px;
                font-size: 32px;
}

.main>.image11>.text4>p{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        margin-left: 20px;
                        margin-bottom: 20px;
}

.main>.image11>.text4>button{
                                width: 100px;
                                height: 40px;
                                margin-left: 20px;
                                color: white;
                                background-color: #4CAF4F;
                                border: none;
                                border-radius:5px;
}

.main>.image11>.text4>button>a{
                                text-decoration: none;
                                color: white;
}

.Main{
        position: absolute;
        top: 380%;
        display: flex;
        width: 100%;
        background-color: #F5F7FA;
}

.Main>.image12{
                border-radius: 5.57px;
                display: flex;
                margin-left:100px;
                margin-top: 20px;
}

.Main>.image12>.text5{
                        width: 530px;
                        padding: 10px;
                        margin-left: 50px;
}

.Main>.image12>.text5>p{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;
                        color: #4D4D4D;
                        margin-bottom: 10px;
}

.Main>.image12>.text5>h1{
                            font-family: Arial, Helvetica, sans-serif;
                            color: #4CAF4F;
                            font-size: 20px;
                            margin-bottom:10px;
}

.Main>.image12>.text5>h2{
                            font-family: Arial, Helvetica, sans-serif;
                            color: #4D4D4D;
                            font-size: 15px;
                            margin-bottom: 20px;
}

.Main>.image12>.text5>.image13>.img8{
                                        margin-left: 20px; 
                                        
}

.Main>.image12>.text5>.image13>a{
                                        text-decoration: none;
                                        margin-left: 20px;
                                        position: absolute;
                                        font-size: 15px;
                                        font-weight: 600;
                                        font-family: Arial, Helvetica, sans-serif;
                                        color: #4CAF4F;

}


.Main>.image12>.text5>.image13>a>.fa-solid{
                                            font-size: 12px;
                                            margin-left: 7px;
                                            margin-top: 10px;

}

.Container{
            position: absolute;
            top:430%;
            width: 100%;
}

.Container>.text7{
                    width: 600px;
                    align-items: center;
                    margin-left: 200px;
}

.Container>.text7>h1{
                        font-family: Arial, Helvetica, sans-serif;
                        margin-bottom: 10px;
                        text-align: center;
                        color: #4D4D4D;
                        font-size: 30px;
}

.Container>.text7>p{
                    font-family: Arial, Helvetica, sans-serif;
                    color: gray;
                    font-size: 15px;
                    margin-bottom: 20px;
                    text-align: center;
}

.Container>.images1{
                    display:inline-flex;
                    
}

.final{
        margin-top: 225%;
        /* border: 1px solid black; */
        height: 209px;
        background-color: #F5F7FA;
}

.final>.text8{
                align-items: center;
                margin: 0 auto;
                padding: 15px;
                /* border: 1px solid black; */
                width: 450px;
                display: block;
                
                
}

.final>.text8>h1{
                    margin-top: 20px;
                    align-items: center;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 40px;
                    margin-bottom: 30px;
}

.final>.text8>button{
                        width: 124px;
                        height: 36px;
                        border-radius: 2px;
                        margin-left: 35%;
                        color: white;
                        background-color: #4CAF4F;
                        border: none;
}


.foot{
  background:#263238;
  color: white;
  padding: 50px 0;
  margin-top: 30px;
}

.footer{
  width: 85%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 250px;
  margin-left: 100px;
}

.logo-h{
    display: flex;
    gap:6px;
}
.logo-h>h3{
    color: white;
    font-size: 26px;

}
.footer>.footer-left>p{
    margin-top: 40px;
    color: white;
    font-size: 10px;
    line-height: 13px;
}
.social-icons{
    display: flex;
    gap: 20px;
    width: 32px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 70px;
}


.footer-col h3,
.footer-newsletter h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col a {
  display: block;
  color: #cccccc;
  margin-bottom: 8px;
  text-decoration: none;
}

.newsletter-box {
  display: flex;
  background: #333;
  padding: 12px;
  border-radius: 8px;
}

.newsletter-box input {
  border: none;
  background: transparent;
  color: white;
  width: 100%;
  outline: none;
}


